body {
  background-color: #f4f5f6;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 30px;
  padding-bottom: 0;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  background-color: #fff;
  max-width: 1050px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 22px;
}
#icon {
  max-width: 135px;
  position: relative;
  bottom: 2px;
}
ul {
  list-style: none;
  position: relative;
  bottom: 155px;
  left: 170px;
}
#tempreature {
  font-size: 45px;
}
.units {
  position: relative;
  bottom: 19px;
}
a {
  text-decoration: none;
}
.active {
  color: #212529;

  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.description {
  position: relative;
  bottom: 5px;
}
form {
  position: relative;
  max-width: 350px;
  bottom: 426px;
  left: 500px;
}

.card {
  border-color: #fff;
}
#forecast {
  position: relative;
  bottom: 90px;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}
#minimum {
  color: #2e79ba;
}
.forecast-icon {
  display: block;
  margin: 0 auto;
}
small {
  margin-left: 165px;
}
